.id_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
}

.id_container a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
}