.id_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 25px;
    font-family: 'Sue Ellen Francisco', cursive;
    position: absolute;
    bottom: 0;
    color: var(--jogador-x);
    font-size: 10px;
    font-weight: bold;
}

.id_container a {
    text-decoration: none;
    color: var(--jogador-x);
    margin-left: 4px;
}