h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cabecalho-font;
    font-size: x-large;
    color: var(--jogador-o);
    text-shadow: 6px 2px black;
    margin-bottom: 25px;
}