* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    color: white;
    background-color: black;
}

:root {
    --jogador-x: #043c93;
    --jogador-o: #ed2860;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    position: relative;
    z-index: 0;
    opacity: 40%;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'cabecalho-font';
    src: url('./fontes/GameCommands.ttf');
}
